/* Estilo padrão Mobile */
h1, h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
  text-indent: 2em;
}

img {
  width: 240px;
}
/* body {
  background-color: #d0e1f9;
} */

/* Estilos alternativos */
@media screen and (min-width: 320px) {
  /* body {
    background-color: #4d648d;
  } */
  p {
    padding: 10px;
  }
} 

@media screen and (min-width: 550px) {
  /* body {
    background-color: #283655;
  } */
  p {
    padding: 50px;
  }
  .img_produto {
    
  }
  img {
    width: 140px;
  }
} 

@media screen and (min-width: 768px) {
  /* body {
    background-color: #1e1f26;
  } */
  
  p {
    padding: 100px;
  }
} 

/* @media print {
  body {
    background-color: #1e1f26;
  }
} */