
main {
  display: flex;
}

main > article,
main > .container,
main > aside {
  flex-grow: 1;
}

/* ul */
.navbar { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* li */
.navItem {
  padding: 10px;
  text-align: center;
  width: 100vw;
  display: none;
  order: 2;
}

.navItem a {
  text-decoration: none;
  display: block;
  padding: 10px 5px;
}

.navItem a:hover {
  transition-duration: 200ms;
  background-color: #4b86b4;
  color: #e7eff6;
}

.logo {
  font-size: 1.3em;
  padding: 8px;
}

.logo a{
  text-decoration: none;
}

.toggle {
  font-size: 1.6em;
  padding: 10px;
  order: 1;
}

.toggle a {
  text-decoration: none;
}

.ativo .navItem {
  display: block;
}

@media screen and (min-width: 560px) {
  .navItem {
    display: block;
    width: auto;
  }
  .navbar {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .toggle {
    display: none;
  }
}